#Fortran Modules
*.mod

#Compiled Object Files
*.o

#Executables
*.exe
*.out

#File Types
*.txt
*.nc
*.prn
*.swp
*.swo
*.pdf
*.so

#Directories
bin/

#Eclipse Config Files
*.cproject
*.directory
*.project
*.xml

#git files
