#Fortran Modules
*.mod

#Compiled Object Files
*.o

#Executables
*.exe
*.out
*.bin

#File Types
*.txt
*.nc
*.prn
*.swp
*.swo
*.pdf
*.so

#Eclipse Config Files
*.cproject
*.directory
*.project
*.xml

#kdevelop files
*.kdev4*
*.kate-swp

#git files
