@import url('theme.css');

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: none; 
    margin: auto;
}

.wy-menu-vertical a:active {
  background-color: #006401;
}

a:hover, a:active {
 color: #008401;
}

a {
    color: #006401 /*!Important*/ ;
    cursor: pointer;
    text-decoration: none;
}

.wy-side-nav-search {
    background-color: #006401;
    color: #fcfcfc;
    display: block;
    margin-bottom: 0.809em;
    padding: 0.809em;
    text-align: center;
    width: 300px;
    z-index: 200;
}
